.ft-contentwizard .sw-theme-confluence ul.nav-tabs {
  border-bottom: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ft-contentwizard .sw-theme-confluence ul.nav-tabs::before {
  background: #EBECF0;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: initial;
  z-index: auto;
}

.ft-contentwizard .sw-theme-confluence ul.nav-tabs li.nav-item {
  margin: 0;
}

.ft-contentwizard .sw-theme-confluence ul.nav-tabs li.nav-item.active a.nav-link::after, .ft-contentwizard .sw-theme-confluence ul.nav-tabs li.nav-item.done a.nav-link::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.ft-contentwizard .sw-theme-confluence ul.nav-tabs li.nav-item.done a, .ft-contentwizard .sw-theme-confluence ul.nav-tabs li.nav-item.done a:hover {
  color: inherit;
}

.ft-contentwizard .sw-theme-confluence ul.nav-tabs li.nav-item a.nav-link::after {
  -webkit-transform: scale(0);
  transform: scale(0);
  background: #0052CC;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0px;
  position: absolute;
  right: 20px;
  width: initial;
  z-index: 1;
}

.ft-contentwizard .sw-theme-confluence ul.nav-tabs li.nav-item a, .ft-contentwizard .sw-theme-confluence ul.nav-tabs li.nav-item a:hover {
  border: none !important;
  color: #bbb;
  text-decoration: none;
  outline-style: none;
  background: transparent !important;
  border: none !important;
}

.ft-contentwizard .sw-theme-confluence ul.nav-tabs li.nav-item:last-child a.nav-link {
  padding-right: 0;
}

.ft-contentwizard .sw-theme-confluence ul.nav-tabs li.nav-item:last-child a.nav-link::after {
  right: 0;
}

.ft-contentwizard .sw-theme-confluence ul.nav-tabs a.nav-link {
  border: none;
  display: block;
  padding: 5px 20px 5px 0;
  text-decoration: none;
  position: relative;
}

.ft-contentwizard .sw-theme-confluence .step-content {
  padding-top: 10px;
}

.ft-contentwizard .aui-buttons.ft-contentwizard-conf-theme {
  padding: 10px 0;
}

.ft-contentwizard .aui-buttons.ft-contentwizard-conf-theme.ft-btn-position_right {
  display: block;
  text-align: right;
}

.ft-contentwizard .aui-buttons.ft-contentwizard-conf-theme.mobileweb button:first-child {
  float: left;
  margin-right: 5px;
}
